* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #72727b;
}

a {
    text-decoration-line: none;
    color: #72727b;
}

li {
    list-style-type: none;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
}

/* 头部 */
.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.header .wrapper {
    display: flex;

}

/* logo */
.logo {
    width: 154px;
    height: 60px;
}

.logo a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(./images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 0px;
    background-position: center;
}

/* header-nav区域 */
.header-nav {
    margin-left: 15px;
    height: 60px;
    text-align: center;
    position: relative;
    line-height: 60px;
}

.header-nav a {
    display: inline-block;
    width: 80px;
    height: 60px;
}

.header-nav .tab-a {
    width: 60px;
}

.header-nav span {
    display: inline-block;
    height: 60px;
    font-size: 14px;
}

.header-nav a:first-child span {
    font-size: 16px;
    color: #40404c;
}

/*  小箭头——这里是使用了一个小盒子的边框属性与旋转 */
.header-nav .tab-a::after {
    content: '^';
    position: relative;
    left: 3px;
    text-indent: -99999px;
    overflow: hidden;
    width: 7px;
    height: 7px;
    border: 1px solid #ccc;
    transform: rotate(135deg);
    display: inline-block;
    border-left: 0;
    border-bottom: 0;
    top: -2px;
    transition: 0.3s ease-in-out;
}

.header-nav .tab-a:hover::after {
    transform: rotate(-45deg);
}

.header-nav .bottom-action {
    display: inline-block;
    height: 3px;
    width: 32px;
    bottom: 0;
    background: #f86442;
    left: 24px;
    transition: .3s;
    position: absolute;
}

/* 注意：.header-nav .tab-a:hover .bottom-action这样写选择到的是
        tab-a:hover内部的子级bottom-action，但这里他们是同级选择器
        所以不生效，要改为" ~. " /" +. " */
.header-nav .tab-a:hover~.bottom-action {
    left: 93px;
}

.header-nav a:nth-child(3):hover~.bottom-action {
    left: 173px;
}

/* search区域 */
.header .search {
    width: 360px;
    height: 60px;
    margin-left: 5px;
    position: relative;
    line-height: 60px;
}

/* 搜索框 */
.search input {
    width: 360px;
    height: 40px;
    padding: 10px 70px 10px 20px;
    outline: 0;
    border: 1px solid #f86442;
    border-radius: 54px;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

/* 按钮 */
.search a span {
    display: inline-block;
    width: 60px;
    height: 40px;
    background-image: linear-gradient(90deg, #ff9973 1%, #ff7251 99%);
    position: absolute;
    top: 11px;
    right: 0;
    font-size: 20px;
    border-radius: 0 54px 54px 0;
    text-align: center;
    line-height: 50px;
}

.search a span i {
    display: inline-block;
    background-image: url(./images/search.png);
    width: 25px;
    height: 25px;
    background-size: cover;
}


/* icon-nav */
/* 死几把的，要注意line-height这个几把属性的影响范围 */
.icon-nav {
    width: 310px;
    height: 60px;
    margin-left: 8px;
}

.icon-nav ul {
    display: flex;
}

.icon-nav ul li {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}

.icon-nav ul li a {
    display: inline-block;
    width: 60px;
    height: 37px;
    position: relative;
}

.icon-nav i {
    position: absolute;
    font-size: 20px;
    width: 20px;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #ccc;
}

.icon-nav p {
    position: absolute;
    bottom: 0;
    width: 60px;
    font-size: 12px;
    text-align: center;
}

.icon-nav ul li a img {
    margin-left: 20px;
    width: 37px;
    height: 37px;
    border-radius: 20px;
}

/* 后续补充分类，上传，客户端的下拉列表框 */



/* banner区域 */
/* 仅仅设置基本的三张图片样式，自动移动动画后续补充 */
.banner {
    height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.banner .wrapper {
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

.banner ul {
    position: relative;
    width: 100%;
    height: 300px;
}

.banner ul li {
    display: inline-block;
    position: absolute;
    width: 750px;
    height: 300px;
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.banner li:nth-child(1) {
    left: 0;
    transform-origin: left;
    transform: scale(0.87);
    z-index: 1;
}

.banner li:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.banner li:nth-child(3) {
    transform-origin: right;
    transform: scale(0.87);
    right: 0;
    z-index: 1;
}

.banner .wrapper i {
    display: block;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
}

.banner .left {
    left: 0;
    background-image: url(./images/左箭头.png);
}

.banner .right {
    right: 0;
    background-image: url(./images/右箭头.png);
}

.banner .wrapper:hover i {
    background-color: #00000038;
}


/* category区域 */
.category {
    height: 120px;
    padding: 20px 0;
}

.category .wrapper {
    width: 1080px;
    margin: 0 auto;
    display: flex;
}

/* 左边 */
.category .sub-category {
    display: flex;
    margin-right: 16px;
}

.category .sub-category a {
    margin: 10px 38px 0px 38px;
    display: inline-block;
    text-align: center;
}

.category .sub-category span {
    display: block;
    font-size: 24px;
    margin: 0 5px;
}

.category .sub-category .text {
    font-size: 14px;
    margin: 0;
    color: #40404c;
}

.link {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #e4e4e4;
    margin-top: 24px;

}

.category .sub-category a:hover span {
    color: #ff7251;
}

/* 右边 */
.category .recommend {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    vertical-align: top;
}

.category .main {
    display: flex;
    width: 206px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
    padding-left: 20px;
}

.category .main h4 {
    color: #40404c;
}

.category .main .link {
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #fc5832;
    margin: 10px 8px;
}

.recommend .content span {
    padding: 0px 10px 5px 10px;
}

.category .recommend a:hover,
.category .recommend a:hover span {
    color: #fc5832;
}


/* home-page-content区域 */
.home-page-content {
    margin: 20px auto 0;
    width: 1080px;
    display: flex;
}

/* 作品核心区 */
.home-page-content .layout-main {
    width: 800px;
}

/* 猜你喜欢 */
.home-page-content .layout-main .guess-like-wrap {
    margin-bottom: 20px;
}

/* (公用)head标签 */
.home-page-content .layout-main .head {
    height: 28px;
    margin-bottom: 20px;
}

/* 标竖线 */
.layout-main .head .solid {
    display: inline-block;
    background-color: #f86442;
    width: 5px;
    height: 15px;
    border-radius: 6px;
    margin-right: 16px;
}

.layout-main .head h2 {
    display: inline-block;
    height: 28px;
    font-size: 20px;
    color: #40404c;
    font-weight: 400;
}

/* 换一批 */
.layout-main .head .refresh {
    float: right;
    font-size: 14px;
    padding: 4px 20px 0 0;
    cursor: pointer;
    color: #40404c;
}

.layout-main .head .refresh i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: -2px;
}

/* (公用)作品列表区 */
.layout-main .recommend-album-list {
    width: 800px;
}

.layout-main .recommend-album-list .content {}

.layout-main .recommend-album-list .content ul {
    display: flex;
    justify-content: space-between;
}

.layout-main .recommend-album-list .content .card {
    width: 140px;
    height: 190px;
}

.layout-main .recommend-album-list .content .card .wrapper-card {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.layout-main .recommend-album-list .content .card img {
    width: 140px;
    height: 140px;
    border-radius: 8px;
    background-size: cover;
    overflow: hidden;
}

.layout-main .recommend-album-list .content .card .wrapper-card p {
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 14px;
    padding: 1px 2px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0, #000 97%);
}

.layout-main .recommend-album-list .content .card  p span {
    color: rgb(209, 209, 209);

}

.layout-main .recommend-album-list .content .card .wrapper-card p i {
    color: rgb(209, 209, 209);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 3px;
    font-size: 18px;
}

.layout-main .recommend-album-list .content .card .tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 20px;

}

.layout-main .recommend-album-list .content .card a {
    font-size: 14px;
    color: #a3a3a3;
}

.layout-main .recommend-album-list .content .card a span {
    color: #40404c;
    font-weight: 700;
}

.layout-main .recommend-album-list .content .card img:hover {
    transform: scale(1.1);
    background-color: #000000a9;
}






/* 作品旁栏区 */
.home-page-content .layout-side {
    width: 260px;
    margin-left: 20px;
}