/* ————————banner区域—————————— */
.banner {
    background-color: #f2f2f2;
    height: 500px;
}

/* banner区域版心居中 */
.banner .wrapper {
    width: 1240px;
    position: relative;
}

/* 大图区域 */
.banner .pic {
    display: flex;
    overflow: hidden;
}

/* 侧导航 */
.subnav {
    width: 250px;
    height: 500px;
    background-color: #000000c3;
    position: absolute;
    top: 0;
    left: 0;
}

.subnav li {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
}

.subnav li:hover {
    cursor: pointer;
    background-color: #5ec99e;
}

.subnav a {
    font-size: 14px;
    color: #ffffff;
    margin-right: 5px;
}

/* 第一个a标签为大号文字 */
.subnav .firstA {
    font-size: 16px;
    margin-right: 14px;
}

.subnav span {
    color: #ffffff;
    font-size: 16px;
}

/* 圆点指示器 */
.banner ol {
    /* 父相子绝 */
    position: absolute;
    bottom: 16px;
    left: 60%;
    transform: translateX(-60%);
    display: flex;
}

.banner ol li {
    display: block;
    margin: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff81;
}

/* 设置所选大图对应和鼠标悬停的圆点效果（后面js补充） */
.banner ol li:hover a,
.banner ol li:first-child a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: #ffffffd1;
}


/* 左右箭头 */
.banner .prve,
.banner .next {
    height: 45px;
    width: 50px;
    background-color: #0000005c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;

}

.banner .prve {
    left: 250px;
}

.banner .next {
    right: 0;
}

/* ————————新鲜好物———————— */
.goods {
    height: 541px;
}

/* 标题区域————公共模式可共用 */
.title {
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
}

.title .left {
    margin-left: 6px;
    display: flex;
    color: #999999;

}

.title .left h3 {
    color: #333333;
    font-size: 36px;
}

.title .left span {
    font-style: 16px;
    margin-left: 20px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.title .right {
    color: #999999;
    font-size: 16px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.title .right span {
    margin: 5px;
    color: #999999;

}

/* 内容区域————公共样式 */
.contents {
    height: 406px;
}

.contents ul {
    display: flex;
    justify-content: space-between;
}

/* goods选择器内的contents的ul li  */
.goods .contents ul li {
    width: 306px;
    text-align: center;
    background-color: #f0f9f4;
}

/* 内容图片样式 */
.contents .pic {
    width: 306px;
    height: 306px;
}

/* 内容文本样式 */
.contents .txt {
    margin: 22px 0 14px 0;
    font-size: 18px;
    color: #333333;
}

/* 内容价格区域 */
.contents .price {
    padding-bottom: 6px;
    color: #9a2e1f;
}

.contents .price span {
    font-size: 20px;
    margin-left: 5px;
}

/* ————————人气推荐———————— */
.commend {
    height: 541px;
}

.commend .contents ul li {
    width: 306px;
    text-align: center;
    background-color: #ffffff;
}

.commend .desc {
    color: #999999;
    font-size: 17px;
    padding-bottom: 6px;
}

/* 秒杀专区 */
.goods_seckill {
    /* height: 420px; */
    background-color: #f5f5f5;
    padding-bottom: 55px;
}

.goods_seckill .wrapper {
    width: 1240px;
}

/* 这个ul样式————公共样式 */
.seckill_brand_common_ul {
    display: flex;
    justify-content: space-between;
}

.seckill_brand_common_ul li {
    width: 240px;
    height: 315px;
    /* padding-top: 20px; */
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

/* 鼠标悬停时文本样式 */
.goods_seckill li:hover p {
    cursor: pointer;
    color: #a72312;
}

/* 图片样式 */
.goods_seckill .pic {
    width: 174px;
    height: 174px;
}

/* 标题样式 */
.goods_seckill .name {
    font-size: 18px;
    margin: 20px 0 12px 0;
    color: #333333;
}

/* 百分比进度条 */
.goods_seckill .precent {
    display: block;
    width: 165px;
    height: 6px;
    margin: 0 auto 12px;
    border-radius: 6px;
    background-color: #E2E2E2;
}

/* 进度条颜色部分 */
.goods_seckill .precent .inner {
    display: block;
    width: 30%;
    height: 100%;
    border-radius: 6px;
    background-color: #D54847;
}

/* 优惠后价格 */
.goods_seckill .now_price {
    font-size: 20px;
    color: #9a2e1f;
    margin-right: 5px;
}

/* 优惠前价格 */
.goods_seckill .pre_price {
    color: #999999;
    font-size: 16px;
}

/* 倒计时 */
.goods_seckill .countdown {
    background-color: #f5f5f5;
}

.goods_seckill .countdown .next {
    margin: 25px 0 14px 0;
    font-size: 16px;
    color: #9a2e1f;
}

.goods_seckill .countdown h3 {
    font-size: 33px;
    color: #D54847;
}

.goods_seckill .countdown .tips {
    margin-top: 106px;
    display: inline-block;
}

.goods_seckill .countdown .tips .span1 {
    font-size: 30px;
    color: #D54847;
}

.goods_seckill .countdown .tips .span2 {
    font-style: 16px;
}

/* 时钟区域 */
.countdown .clock {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.countdown .clock span {
    text-align: center;
    line-height: 34px;
    display: block;
    width: 34px;
    height: 34px;
    background-color: #404040;
    margin: 0 5px 0 5px;
    color: white;
    font-size: 18px;
}

.topical_brand {
    padding-bottom: 32px;
}

.topical_brand .right span {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #48a026;
    text-align: center;
    font-size: 26px;
    line-height: 20px;
    color: #ffffff;
}

.topical_brand .right .span1 {
    background-color: #bfbfbf;
}

.topical_brand .right .span1:hover {
    background-color: #48a026;
}

/* topical_brand区域特殊的li样式 */
.topical_brand .seckill_brand_common_ul li {
    width: 240px;
    height: 305px;
    padding: 0;

}

/* topical_brand区域特殊的.pic样式 */
.topical_brand .seckill_brand_common_ul .pic {
    width: 240px;
    height: 305px;
}


/* ————————商品分类———————— */
.goods_category {
    background-color: #f5f5f5;
    padding-bottom: 80px;
}

.goods_category .wrapper {
    width: 1240px;
}

/* 特殊的title属性 */
.goods_category .title h3 {
    font-size: 32px;
}

.goods_category .title .right {
    display: flex;
    align-items: flex-end;
}

.goods_category .title .right .tabs-bar {
    margin-right: 40px;
    padding-top: 13px;
}

.goods_category .title .right .tabs-bar a {
    display: inline-block;
    margin-left: 7px;
    padding: 2px 8px;
}

.goods_category .tabs-bar .firstA,
.goods_category .tabs-bar a:hover {
    background-color: #5EB68F;
    border-radius: 5px;
    color: #fff;
}

/* 商品列表区域 */
.category_goods_list {
    height: 610px;
    display: flex;
    justify-content: space-between;
}

.category_goods_list .right {
    width: 240px;
    height: 610px;
}

.category_goods_list .left_pic {
    width: 240px;
    height: 610px;
    margin: 0;
}

.category_goods_list ul {
    display: flex;
    flex-wrap: wrap;
}

.category_goods_list ul li {
    background-color: #fff;
    width: 240px;
    height: 300px;
    padding: 10px 30px;
    margin-left: 10px;
    position: relative;
    border: 1px solid #ffffff;
    overflow: hidden;
}

/* 从第五个开始有上边距 */
.category_goods_list ul li:nth-child(n+5) {
    margin-top: 10px;
}

.category_goods_list .goods_pic {
    width: 160px;
    height: 160px;
    margin: 0 10px;
}

.category_goods_list .name {
    color: #333333;
    margin-top: 6px;
    height: 44px;
}

.category_goods_list .goods_desc {
    color: #666666;
    margin-top: 6px;
}

.category_goods_list .price {
    color: #ac3737;
    margin-top: 9px;
}

.category_goods_list .price span {
    font-size: 20px;
    margin-left: 5px;
}

.category_goods_list .cover {
    width: 240px;
    height: 86px;
    background-color: #53b094;
    position: absolute;
    left: 0;
    bottom: -87px;
    color: #fff;
    text-align: center;
}
.category_goods_list .cover h4{
    font-weight: 400;
    margin-top: 10px;
    font-size: 18px;
}
.category_goods_list .cover span {
    display: block;
    width: 120px;
    height: 0.5px;
    background-color: #fff;
    margin: 0 auto  ;
    margin-top: 8px;
}
.category_goods_list .cover p{
    font-size: 14px;
    margin-top: 6px;
}
.category_goods_list ul li:hover .cover {
    bottom: 0px;
    transition: all 0.5s;
}

.category_goods_list ul li:hover {
    border: 1px solid #53b094;
}
